{% extends "base.html" %}

{% block title %}{{ NEST_BLOG_HEAD_TITLE }} | {{ super() }}{% endblock title %}
{% block description %}{{ NEST_BLOG_HEAD_DESCRIPTION }} {% endblock description %}

{% block headerstyle %}
    {% if NEST_BLOG_HEADER_IMAGE %}
    <div class="header-container" data-parallax="scroll" data-speed="0.2" data-image-src="{{ SITEURL }}/images/{{ NEST_BLOG_HEADER_IMAGE }}">
    {% else %}
    <div class="header-container gradient">
    {% endif %}
{% endblock headerstyle %}

{% block navstyle %}
<nav class="navbar navbar-static navbar-default header-nav">
{% endblock navstyle %}

{% block header %}
    <div class="container header-content">
        <h1 class="header-title">{{ NEST_BLOG_HEADER_TITLE }}</h1>
        <div class="header-underline"></div>
        <p class="header-subtitle header-subtitle-homepage">{{ NEST_BLOG_HEADER_SUBTITLE }}</p>
    </div>
{% endblock header %}

{% block content %}
<div class="container">
  {% if not DEFAULT_PAGINATION or not articles_previous_page %}
  <div class="archive-container">
      <div class="content archive">
          <h2><a href="{{ SITEURL }}/archives.html">{{ NEST_BLOG_LATESTPOSTS_TITLE }}</a></h2>
          <dl class="dl-horizontal">
            {% for article in articles[:5] %}
            <dt>{{ article.locale_date}}</dt>
            <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }} {% if article.subtitle %} &mdash; {{ article.subtitle }} {% endif %}</a></dd>
            {% endfor %}
          </dl>
      </div>
  </div>
  {% endif %}

  {% if DEFAULT_PAGINATION %}
    {% set article_list = articles_page.object_list %}
  {% else %}
    {% set article_list = articles %}
  {% endif %}

  {% for article in article_list %}
    {% if loop.index % 2 %}
      <div class="row">
    {% endif %}
        <div class="col-sm-6">
          <article class="archive-container">
            {% if article.illustration %}
            <div class="image-container" style="background-image: url({{ SITEURL }}/images/{{ article.illustration }}); background-size: cover;">
            {% elif NEST_BLOG_DEFAULT_HEADER_IMAGE %}
            <div class="image-container" style="background-image: url({{ SITEURL }}/images/{{ NEST_BLOG_DEFAULT_HEADER_IMAGE }}); background-size: cover;">
            {% else %}
            <div class="image-container gradient">
            {% endif %}
              <div class="image-content">
                <h2 class="image-title">
                  <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
                </h2>
                {% if article.subtitle %}
                <p class="image-subtitle">
                  <a href="{{ SITEURL }}/{{ article.url }}">{{ article.subtitle }}</a>
                </p>
                {% endif %}
                <div class="image-underline"></div>
              </div>
            </div>
            <div class="twocol-content content archive">
              <p class="date">{{ NEST_ARTICLE_HEADER_BY }} {% for author in article.authors %}<a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>{% if not loop.last %}, {% endif %}{% endfor %}, {{ article.locale_date }}{% if article.modified %}, {{ NEST_ARTICLE_HEADER_MODIFIED }} {{ article.locale_modified }}{% endif %}, {{ NEST_ARTICLE_HEADER_IN }} <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category|capitalize }}</a></p>
              {{ article._summary }}
              {% if article.content | trim | length > 0 %}
                <p>
                  <a class="readmore" href="{{ SITEURL }}/{{ article.url }}">Read more</a>
                </p>
              {% endif %}
            </div>
          </article>
        </div>
    {% if not loop.index % 2 %}
    </div>
    {% endif %}
  {% endfor %}
</div>

{% if DEFAULT_PAGINATION %}
  {% include 'pagination.html' %}
{% endif %}
{% endblock content %}
