{% extends "base.html" %}

{% block title %}{{ NEST_BLOG_HEAD_TITLE }} {{ category|capitalize }} &verbar; {{ super() }}{% endblock title %}
{% block description %}{{ NEST_BLOG_HEAD_DESCRIPTION }} {% endblock description %}

{% block headerstyle %}
    {% if NEST_BLOG_HEADER_IMAGE %}
    <div class="header-container" data-parallax="scroll" data-speed="0.2" data-image-src="{{ SITEURL }}/images/{{ NEST_BLOG_HEADER_IMAGE }}">
    {% else %}
    <div class="header-container gradient">
    {% endif %}
{% endblock headerstyle %}

{% block navstyle %}
<nav class="navbar navbar-static navbar-default header-nav">
{% endblock navstyle %}

{% block header %}
    <div class="container header-wrapper">

                  <div class="header-content">
                      <h1 class="header-title text-uppercase">{{ NEST_BLOG_HEADER_TITLE }}</h1>
                      <div class="header-underline"></div>
                      <p class="header-subtitle header-subtitle-homepage">{{ NEST_BLOG_HEADER_SUBTITLE }}</p>
                  </div>

    </div>
{% endblock header %}

{% block content %}
<div class="container">
  <div class="archive-container">
      <div class="content archive">
          <h2><a href="{{ SITEURL }}/archives.html">{{ NEST_BLOG_LATESTPOSTS_TITLE }}</a></h2>
          <dl class="dl-horizontal">
            {% for article in articles[:5] %}
            <dt>{{ article.locale_date}}</dt>
            <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }} {% if article.subtitle %} &mdash; {{ article.subtitle }} {% endif %}</a></dd>
            {% endfor %}
          </dl>
      </div>
  </div>

{% if DEFAULT_PAGINATION %}
  {% for article in articles_page.object_list %}
    {% if not loop.index0 % 2 %}
      <div class="article-container">
        <div class="row">
          <div class="col-sm-6" style="padding-left: 0; padding-right: 20px;">
    {% else %}
          <div class="col-sm-6" style="padding-left: 20px; padding-right: 0;">
    {% endif %}
      {% if article.illustration %}
      <div class="image-container" style="background-image: url({{ SITEURL }}/images/{{ article.illustration }}); background-size: cover;">
      {% else %}
      <div class="image-container gradient">
      {% endif %}
        <div class="image-wrapper">
          <div class="row">
            <div class="image-content">
              <h2 class="image-title">
                {% if article.content | trim | length > 0 %}
                  <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
                {% else %}
                  {{ article.title }}
                {% endif %}
              </h2>
              {% if article.subtitle %}
              <p class="image-subtitle image-subtitle-homepage">{{ article.subtitle }}</p>
              {% endif %}
              <div class="image-underline"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="content article">
        <p class="date">Posted on {{ article.locale_date }} by {{ article.author }}</p>
        {{ article._summary }}
        {% if article.content | trim | length > 0 %}
          <p>
            <a href="{{ SITEURL }}/{{ article.url }}">Read more</a>
          </p>
        {% endif %}
      </div>
    </div>
    {% if loop.index0 % 2 %}
      </div>
    </div>
    {% endif %}
  {% endfor %}
{% include 'pagination.html' %}
{% else %}
  {% for article in articles %}
    <div class="article-container">
      <div class="container content article">
        <h1 class="text-uppercase">
          {% if article.content | trim | length > 0 %}
          <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
          {% else %}
          {{ article.title }}
          {% endif %}
        </h1>
        {{ article._summary }}
        {% if article.content | trim | length > 0 %}
        <p> <a href="{{ SITEURL }}/{{ article.url }}"> Read more </a> </p>
        {% endif %}
      </div>
    </div>
  {% endfor %}
{% endif %}
</div>
{% endblock content %}
