{% extends "base.html" %}

{% block title %}{{ page.title }} | {{ super() }}{% endblock title %}
{% block description %}{{ page.content|striptags|truncate(200)|escape }}{% endblock description %}

{% block headerstyle %}
    {% if page.illustration %}
    <div class="header-container" data-parallax="scroll" data-speed="0.2" data-image-src="{{ SITEURL }}/images/{{ page.illustration }}">
    {% elif NEST_HEADER_IMAGES %}
    <div class="header-container" data-parallax="scroll" data-speed="0.2" data-image-src="{{ SITEURL }}/images/{{ NEST_HEADER_IMAGES }}">
    {% else %}
    <div class="header-container gradient">
    {% endif %}
{% endblock headerstyle %}

{% block navstyle %}
<nav class="navbar navbar-static navbar-default header-nav">
{% endblock navstyle %}

{% block header %}
    <div class="container header-content">
        <h1 class="header-title">{{ page.title }}</h1>
        <div class="header-underline"></div>
        {% if page.subtitle %}
          <p class="header-subtitle header-subtitle-homepage">{{ page.subtitle }}</p>
        {% endif %}
    </div>
{% endblock header %}

{% block content %}
      <div class="container page-container">
        <div class="page content">
          <div class="spacer"></div>
          {{ page.content }}
        </div>
      </div>
{% endblock %}
