body {
  background-color: #fff;
}

nav.navbar-static {
    background-color: #333 !important;
}

.header-container {
    background: transparent;
    min-height: 260px;
    padding-top: 50px;
    padding-bottom: 20px;
    position: relative;
    display: flex;
    flex-flow: column;
}

.header-container .header-title,
.header-container .header-subtitle,
.header-container .header-tags,
.header-container .header-tags a {
    color: inherit;
}

.content {
    line-height: 1.8;
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
}
