body {
  background-color: #fff;
}

nav.navbar-static {
    background-color: #333 !important;
}

.header-container {
    background: transparent;
    min-height: 260px;
    padding-top: 50px;
    padding-bottom: 20px;
    position: relative;
    display: flex;
    flex-flow: column;
}

.header-container .header-title,
.header-container .header-subtitle,
.header-container .header-tags,
.header-container .header-tags a {
    color: inherit;
}

.article {
    margin-bottom: 20px;
    margin-top: -40px; /* collapses with spacer */
}

.article .spacer {
    margin: 40px;
}

.article h2{
    margin-top: 40px;
    margin-bottom: 25px;
}

.article h3, .article h4{
    margin-top: 35px;
    margin-bottom: 15px;
}

.article .date{
    font-size: 14px;
    margin-bottom: 10px;
    opacity: 0.9;
}

.article .postmatter{
    border-top: 2px solid rgba(0,0,0,0.2);
    margin-top: 50px;
    margin-bottom: 25px;
    padding-top: 20px;
}

.article .postmatter #post-share-links {
    line-height: 36px;
}

.content {
    line-height: 1.8;
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.content p,
.content li,
.content a,
.content table {
    font-family: "DejaVu Sans", sans-serif;
}
