/* 
Dark version of the nest-plus Pelican theme 
Also provides some extra styles for the one-page landing page.

Intended for inclusion AFTER nest.css
*/



/* Dark styles for other CSS elements from nest.css */

body {
    background-color: #1d2120;
    color: #f6f1ed;
}

body > .container {
  min-height: 1000px;
  min-height: 140vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding-top: 150px;
  padding-bottom: 150px;
}

.fullheight {
    min-height: 500px;
    max-height: 100vh;
}

a, a:visited, a:hover, a:focus, a:active {
  color: #00C080;
}

.header-underline {
    border-bottom: 3px solid #00C080;
}

h2:after {
    border-bottom: 3px solid #00C080;
}

h3:after {
    border-bottom: 3px solid #00C080;
}

/* Inline image containers */

.image-container {
    display: flex;
    flex-flow: column;
    padding: 0;
    min-height: 300px;
    width: 100%;
}

.image-wrapper{
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex: 1;
    flex-flow: row;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
.image-content {
    text-align: center;
    padding: auto;
}

.image-title {
    text-transform: uppercase;
    font-size: 32px;
    color: #f6f1ed;
    font-weight: 700;
}

.image-underline {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 70px;
    border-bottom: 3px solid #00C080;
}

.image-subtitle {
    font-size: 14px;
    line-height: 24px;
    color: #f6f1ed;
    font-weight: 300;
    text-align: justify;
}

.image-subtitle-homepage {
    text-align: center;
    font-style: italic;
}
