{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ article.title | striptags }}{% if article.subtitle %} &mdash; {{ article.subtitle | striptags }}{% endif %} | {{ super() }}{% endblock title %}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(article) %}
    {{ translations.entry_hreflang(article) }}
  {% endif %}

  {% if article.description %}
    {% block description %}{{ article.summary | striptags | truncate(300) }}{% endblock %}
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      "HTML-CSS": {
        scale: 85,
        styles: {".MathJax_Display, .MathJax .mo, .MathJax .mi, .MathJax .mn": {color: "inherit"}},
      }
    });
    </script>
{% endblock %}

{% block opengraph %}
  <meta property="og:type" content="article" />
  <meta property="article:published_time" content="{{ article.date.isoformat() }}" />
  {% if article.modified %}
    <meta property="article:modified_time" content="{{ article.modified.isoformat() }}" />
  {% endif %}
  <meta property="article:author" content="{% for author in article.authors %}{{ author }}{% if not loop.last %}, {% endif %}{% endfor %}" />
  <meta property="article:section" content="{{ article.category }}" />
  <meta property="article:tag" content="{% for tag in article.tags|sort %}{{ tag }}{% if not loop.last %}, {% endif %}{% endfor %}" />
{% endblock %}

{% block content %}
<section id="content" class="body">
  <header class="post-info">
    <div class="entry-metadata">
      <time class="published" datetime="{{ article.date.isoformat() }}">
        <span class="fa fa-calendar"></span> {{ article.date.strftime('%Y-%m-%d') }}
      </time>
      {% if article.modified %}
      <time class="modified" datetime="{{ article.modified.isoformat() }}">
        Modified: {{ article.modified.strftime('%Y-%m-%d') }}
      </time>
      {% endif %}
      {% if article.authors and not MAXWELL_SINGLEAUTHOR %}
      <address class="vcard author">
        By {% for author in article.authors %}
            <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
          {% endfor %}
      </address>
      {% endif %}
      {% if article.tags %}
      <div class="tags">
          <span class="fa fa-tags"></span>
          {% for tag in article.tags %}
              <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %},{% endif %}
          {% endfor %}
      </div>
      {% endif %}
    </div>
    <h1 class="entry-title">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
         title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
    </h1>
    {% if article.subtitle %}
    <h2 class="entry-subtitle">{{ article.subtitle }}</h2>
    {% endif %}
 {% import 'translations.html' as translations with context %}
 {{ translations.translations_for(article) }}
    <div class="header-underline"></div>
  </header>

  <article class="entry-content">
    {{ article.content | replace('<body>', '') | replace('</body>', '') }}
  </article><!-- /.entry-content -->

  <footer class="postmatter">
    {% if article.related_posts %}
        <h3>Related posts</h3>
        <dl>
        {% for related_post in article.related_posts %}
            <dt>{{ related_post.date.strftime('%Y-%m-%d')}}</dt>
            <dd><a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }} {% if related_post.subtitle %} &mdash; {{ related_post.subtitle }} {% endif %}</a></dd>
        {% endfor %}
        </dl>
    {% endif %}
    {% if OUTPUT_SOURCES %}
      <div id="download-source">
        {% set source_path = "/".join(article.save_as.split("/")[:-1]) %}
        {% set source_file = ".".join(article.save_as.split("/")[-1].split(".")[:-1]) %}
        {% set source_ext = article.source_path.split("/")[-1].split(".")[-1] %}
        <a href="{{ SITEURL }}/{{ source_path }}/{{ source_file }}{{ OUTPUT_SOURCES_EXTENSION }}" download="{{ article.slug }}.{{ source_ext }}">Download article source</a>
      </div>
    {% endif %}
  </footer>

  {% if MAXWELL_UTTERANCES_REPO %}
  <footer class="comments">
    <script src="https://utteranc.es/client.js" repo="{{ MAXWELL_UTTERANCES_REPO }}" issue-term="pathname"
      theme="preferred-color-scheme" crossorigin="anonymous" async>
      </script>
  </footer>
  {% endif %}
</section>
{% endblock %}
